<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>0</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_00.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>1</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_01.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>2</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_02.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>3</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_03.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>4</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_04.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>5</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_05.gif</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>6</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_06.gif</string>
		<key>path</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>7</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_07.gif</string>
		<key>path</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>8</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_08.gif</string>
		<key>path</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>9</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_09.gif</string>
		<key>path</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>id</key>
		<string>&quot;&quot;</string>
		<key>assetId</key>
		<string>&quot;&quot;</string>
		<key>rank</key>
		<string>10</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_010.gif</string>
		<key>path</key>
		<string>&quot;&quot;</string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>11</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_011.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>12</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_012.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>13</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_013.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>14</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_014.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>15</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_015.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>16</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_016.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>17</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_017.gif</string>
		<key>path</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string></string>
		<key>assetId</key>
		<string></string>
		<key>rank</key>
		<string>18</string>
		<key>category</key>
		<string>favorite</string>
		<key>name</key>
		<string>img_018.gif</string>
		<key>path</key>
		<string></string>
	</dict>
</array>
</plist>
