<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>笑哈哈</string>
		<key>image</key>
		<string>lxh_xiaohaha.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>好爱哦</string>
		<key>image</key>
		<string>lxh_haoaio.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>噢耶</string>
		<key>image</key>
		<string>lxh_oye.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>偷乐</string>
		<key>image</key>
		<string>lxh_toule.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>泪流满面</string>
		<key>image</key>
		<string>lxh_leiliumanmian.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>巨汗</string>
		<key>image</key>
		<string>lxh_juhan.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>抠鼻屎</string>
		<key>image</key>
		<string>lxh_koubishi.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>求关注</string>
		<key>image</key>
		<string>lxh_qiuguanzhu.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>好喜欢</string>
		<key>image</key>
		<string>lxh_haoxihuan.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>崩溃</string>
		<key>image</key>
		<string>lxh_bengkui.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>好囧</string>
		<key>image</key>
		<string>lxh_haojiong.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>震惊</string>
		<key>image</key>
		<string>lxh_zhenjing.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>别烦我</string>
		<key>image</key>
		<string>lxh_biefanwo.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>不好意思</string>
		<key>image</key>
		<string>lxh_buhaoyisi.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>羞嗒嗒</string>
		<key>image</key>
		<string>lxh_xiudada.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>得意地笑</string>
		<key>image</key>
		<string>lxh_deyidexiao.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>纠结</string>
		<key>image</key>
		<string>lxh_jiujie.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>给劲</string>
		<key>image</key>
		<string>lxh_geijin.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>悲催</string>
		<key>image</key>
		<string>lxh_beicui.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>甩甩手</string>
		<key>image</key>
		<string>lxh_shuaishuaishou.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>好棒</string>
		<key>image</key>
		<string>lxh_haobang.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>瞧瞧</string>
		<key>image</key>
		<string>lxh_qiaoqiao.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>不想上班</string>
		<key>image</key>
		<string>lxh_buxiangshangban.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>困死了</string>
		<key>image</key>
		<string>lxh_kunsile.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>许愿</string>
		<key>image</key>
		<string>lxh_xuyuan.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>丘比特</string>
		<key>image</key>
		<string>lxh_qiubite.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>有鸭梨</string>
		<key>image</key>
		<string>lxh_youyali.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>想一想</string>
		<key>image</key>
		<string>lxh_xiangyixiang.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>躁狂症</string>
		<key>image</key>
		<string>lxh_zaokuangzheng.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>转发</string>
		<key>image</key>
		<string>lxh_zhuanfa.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>互相膜拜</string>
		<key>image</key>
		<string>lxh_xianghumobai.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>雷锋</string>
		<key>image</key>
		<string>lxh_leifeng.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>杰克逊</string>
		<key>image</key>
		<string>lxh_jiekexun.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>玫瑰</string>
		<key>image</key>
		<string>lxh_meigui.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>hold住</string>
		<key>image</key>
		<string>lxh_holdzhu.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>群体围观</string>
		<key>image</key>
		<string>lxh_quntiweiguan.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>推荐</string>
		<key>image</key>
		<string>lxh_tuijian.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>赞啊</string>
		<key>image</key>
		<string>lxh_zana.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>被电</string>
		<key>image</key>
		<string>lxh_beidian.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>霹雳</string>
		<key>image</key>
		<string>lxh_pili.png</string>
	</dict>
</array>
</plist>
